* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: auto;
}

header {
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
    margin: 10px 0px;
}

#logo img {
    height: auto;
}

#clglogo {
    height: 60px;
    width: 60px;
}

nav button {
    display: inline;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.btn {
    margin: 17px;
    padding: 9px 25px;
    background-color: #0984e3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn:hover {
    background-color: #b33939;
}

main {
    background-color: cadetblue;
}

.left {
    background-color: white;
    float: left;
    width: 50%;
    margin: 2% 0%;
}

#canvas {
    width: 75%;
    height: 75%;
    margin-left: 70px;
    text-align: center;
}

.right {
    /* background-color: #3d3d3d; */
    float: right;
    width: 45%;
    height: 75%;
    margin: 2% 0%;
}

#error {
    margin-left: 150px;
}

form {
    text-align: center;
}

#form {
    width: 100%;
    height: 75%;
    margin-top: 70px;
}

#textbox {
    padding: 9px 25px;
    background-color: white;
    border: #0984e3 2px solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    width: 47%;
    height: 12%;
    outline: none;
    box-shadow: none;
}

#pwdbox {
    padding: 9px 25px;
    background-color: white;
    border: #0984e3 2px solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: gray;
    text-decoration: none;
    width: 47%;
    height: 12%;
    outline: none;
    box-shadow: none;
}

#lgbtn {
    width: 20%;
    height: 10%;
}

#form h3 {
    font-family: 'Noto Sans', sans-serif;
    color: #d63031;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    margin-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #2d3436;
    margin-bottom: 0px;
}

footer p {
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.success {
    font-family: 'Muli', sans-serif;
    background-color: lightgreen;
    padding: 1.5em;
}

.error {
    font-family: 'Muli', sans-serif;
    background-color: tomato;
    padding: 1.5em;
}

@media only screen and (max-width: 760px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .left {
        display: block;
        width: 100%;
        margin-top: 40px;
    }
    #canvas {
        display: block;
        width: 100%;
        height: 50%;
    }
    .right {
        display: block;
        width: 100%;
    }
    #form {
        width: 100%;
    }
    #textbox {
        width: 65%;
    }
    #pwdbox {
        width: 65%;
    }
    #lgbtn {
        width: 30%;
    }
}

@media only screen and (max-width: 1150px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    header {
        width: 100%;
    }
    .left {
        display: block;
        width: 100%;
        margin-top: 40px;
    }
    #canvas {
        display: block;
        width: 100%;
        height: 50%;
        margin: 0;
    }
    .right {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}