* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.banner {
    margin-top: 0;
    height: 15vh;
    background-color: #474787;
}

.logo {
    float: left;
}

.responsive {
    height: 87px;
    width: 87px;
    padding-top: 10px;
    padding-left: 15px;
}

.heading {
    text-align: start;
    padding-left: 150px;
    padding-top: 16px;
    font-family: 'Poppins', sans-serif;
}

.fh {
    color: #ffffff;
    font-size: xx-large;
}

.sh {
    font-size: larger;
}

main {
    display: flex;
    font-family: 'Muli', sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
}

#left_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #218c74;
    width: 250px;
    height: auto;
    border-right: 4px solid #10ac84;
}

#left_menu li {
    list-style: none;
}

#left_menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: block;
    padding: 25px;
    text-decoration: none;
}

#left_menu li a:hover {
    color: #2d3436;
}

.content {
    background-color: #2d3436;
    flex: 1;
    height: auto;
    overflow-y: scroll;
    color: white;
    padding: 60px;
    line-height: 1.5;
}

#home h1 {
    text-align: center;
    color: #10ac84;
}

#about h1 {
    text-align: center;
    color: #10ac84;
}

#about h2 {
    text-align: center;
    color: #10ac84;
}

#profile h1 {
    text-align: center;
    color: #10ac84;
}

.responsives {
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.avatar {
    vertical-align: middle;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.profcontent {
    text-align: center;
}

.profcontent p {
    line-height: 2.0;
}

.profcontent a {
    text-decoration: none;
    color: #ffffff;
}

#academics h1,
h2 {
    text-align: center;
    color: #10ac84;
}

.ttt {
    padding-left: 200px;
    padding-right: 200px;
}

#gallery h1 {
    text-align: center;
    color: #10ac84;
}

.gallery {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo {
    grid-column: span 3;
    grid-row: span 3;
}

.sphoto {
    grid-row: span 3;
    grid-column: span 3;
}

#contact h1 {
    text-align: center;
    color: #10ac84;
}

.hgt {
    color: #ff3838;
}

#conp {
    text-align: center;
    font-size: medium;
}

#contact p {
    font-size: medium;
}

#footer {
    background-color: #474787;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding: 10px 15px;
}

.fcontent1 {
    padding-left: 550px;
    color: #ffffff;
}

.fcontent1 a {
    text-decoration: none;
    color: #ffffff;
}